@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Nunito' !important;
    background-color: white;
    color: #313131;
}

input, select, textarea {
    background-color: white;
    color: #313131;
    outline: none !important;
}